h1{
    color:rgb(148, 36, 36)
}
h1{
    font-weight:normal;
}
h1{
    text-align:center;
}
*{
    text-align:center
}
h3{
    color:rgba(198, 17, 230, 0.924);
}
img{
    height:400px;
    width:450px;
}
.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
  
}